@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&display=swap');

//fontes
$font-principal: 'Jost', sans-serif;
$font-secundaria: 'Inter', sans-serif;

//cores
$cor-principal: #F2BEBE;
$cor-sucundaria: #090C11;
$cor-terciaria: #FFFFFF;